<%- include('layout/header') %>
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <h1>Welcome to Trashycle</h1>
      <h2>Solusi Daur Ulang untuk Masa Depan Lebih Hijau</h2>
      <a href="#about" class="btn-get-started scrollto">Mulai</a>
    </div>
  </section><!-- End Hero -->
  <main id="main">
      <!-- ======= Info Section ======= -->
      <section id="info" class="info">
        <div class="container">
            <div class="count-box py-5">
                <p>TOTAL WASTE PILE</p>
                <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter my-4">13.6078 Kg/day</span>
                <p>Since 6 March 2024</p>
            </div>                               
        </div>
    </section>
<!-- End Info Section -->

<!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Tentang Kami</h1>
                </div>
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="/images/about.jpg">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn">
                        <p class="mb-4">Lindungi apa yang baik Misi kami adalah mendorong agenda lautan bebas plastik dan membersihkan sampah plastik yang masuk ke lautan dan saluran air. Solusi kami berbasis komunitas, dan upaya serta dampak kami didukung oleh 
                            perusahaan-perusahaan yang bertanggung jawab di seluruh dunia yang ingin mendorong perubahan lingkungan dan memanfaatkan komitmen keberlanjutan mereka. Baik Anda ingin memulai perjalanan merek Anda untuk berbuat baik bagi 
                            planet ini atau ini merupakan langkah lain untuk berbuat lebih banyak.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End About Section -->
  </main>
  <%- include('layout/footer') %>