<%- include('layout/header') %>
<main id="main">
    <!-- Details 2 -->
    <div class="basic-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-xl-7">
                  <div class="text-container">
                      <h2>A beautiful and well organized office space increases productivity</h2>
                      <p>On it differed repeated wandered required in. Then girl neat why yet knew rose spot. Moreover property we he kindness greatest be oh striking laughter. In me he at collecting affronting principles apartments. Has visitor law attacks pretend you calling own excited painted. Contented attending</p>
                      <a class="btn btn-primary" href="/home/form">Daftar Sekarang</a>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
              <div class="col-lg-6 col-xl-5">
                  <div class="image-container">
                      <img class="img-fluid" src="/images/layanan/bussiness.jpg" alt="alternative">
                  </div> <!-- end of image-container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of basic-3 -->
  <!-- end of details 2 -->

    <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="pt-4 pt-md-5">

          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="/images/illustrations/a-1.png" width="480" alt="" /></div>
              <div class="col-md-6 text-center text-md-start">
                <h2>Buat Akun dan Daftar Sebagai Kolektor Sampah</h2>
                <p class="lead text-muted">Untuk memulai, buat akun bisnis Anda dengan mengisi informasi dasar seperti nama, email, dan nomor telepon. Pastikan Anda memilih kategori "Kolektor Sampah" saat mendaftar. Proses ini sederhana dan cepat, hanya memerlukan beberapa menit untuk melengkapi.</p>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  
  
  
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-4 pt-md-5">
  
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="/images/illustrations/a-2.png" width="480" alt="" /></div>
              <div class="col-md-6 text-center text-md-start">
                <h2>Lengkapi Profil Tempat Drop Off Anda</h2>
                <p class="lead text-muted">Pastikan informasi yang Anda berikan akurat dan lengkap. Sertakan semua detail yang diperlukan seperti alamat lengkap, jenis sampah yang dapat diterima, jam operasional, dan layanan tambahan yang Anda tawarkan. </p>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  
  
  
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-4 pt-md-5">
  
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="/images/illustrations/a-3.png" width="480" alt="" /></div>
              <div class="col-md-6 text-center text-md-start">
                <h2>Verifikasi dan Publikasi Tempat Drop Off</h2>
                <p class="lead text-muted">Publikasi ini memungkinkan masyarakat untuk dengan mudah menemukan dan menggunakan layanan Anda. Tempat drop off Anda akan muncul di peta interaktif kami, sehingga pengguna dapat melihat lokasi Anda beserta detail layanannya. Dengan begitu, Anda dapat meningkatkan visibilitas bisnis Anda dan membantu lebih banyak orang dalam mengelola sampah mereka dengan lebih baik.</p>
                <a class="btn btn-primary" href="/home/form">Daftar Sekarang</a>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  </main>
  <%- include('layout/footer') %>