<div class="row py-5">
    <h2 class="display-6 mb-4">Our Services</h2>
<div class="col-lg-4 col-md-6">
  <a href="/about.html" class="nav-link"></a>
  <div class="card text-center p-4 mb-2 crd">
    <i class="fa-solid fa-camera-cctv fa-3x"></i>
    <h4>CCTV Services</h4>
    <p class="p-2">
      <b>CCTV Services</b> are an essential component of any business. CCTV provides real-time monitoring of multiple locations; the security they supply is indispensable, allowing businesses to have peace of mind knowing that...
    </p>
  </div>
</div>
<!-- <div class="col-lg-4 col-md-6">
  <div class="card text-center p-4 mb-2">
    <i class="fa-solid fa-sign-hanging fa-3x"></i>
    <h4>Digital Signage</h4>
    <p class="p-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptatum, voluptate, quibusdam, quia voluptas quod quos
      exercitationem quae voluptatibus doloribus quidem. Quisquam
    </p>
  </div>
</div> -->
<div class="col-lg-4 col-md-6">
  <div class="card text-center p-4 mb-2 crd">
    <i class="fa-solid fa-database fa-3x"></i>
    <h4>Datacenter Support</h4>
    <p class="p-2">
      <b>Datacenters</b> are the foundation of many modern businesses, providing the infrastructure and resources necessary to save, process, and dispense data. They produce an off-premises location to secure and back up your business's data.
    </p>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="card text-center p-4 mb-2 crd">
    <i class="fa-solid fa-sign-hanging fa-3x"></i>
    <h4>Digital Signage</h4>
    <p class="p-2">
      <b>Digital Signage</b> has grown rapidly over the last two decades well beyond just a flashy trend for big businesses in the realm of marketing and advertising, and the general dissemination of information. Now it has become the expected strategy.
    </p>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="card text-center p-4 mb-2 crd">
    <i class="fa-solid fa-headset fa-3x"></i>
    <h4>General Support</h4>
    <p class="p-2">
      <b>General Support</b> is a crucial element to every modern business; providing essential support to businesses of all shapes and sizes. The focal point of General Support is to... 
    </p>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="card text-center p-4 mb-2 crd">
    <i class="fa-solid fa-server fa-3x"></i>
    <h4>Network Support</h4>
    <p class="p-2">
      <b>Network Support</b> includes making sure all networking hardware, software, and other related dependencies are both up to date and functioning properly. Monitoring the network for potential problems...
    </p>
  </div>
      </div>
<div class="col-lg-4 col-md-6">
<div class="card text-center p-4 mb-2 crd">
  <i class="fa-solid fa-bars fa-3x"></i>
  <h4>Additional Services</h4>
  <p class="p-2">
    <br/> 
    <br/> 
    <br/> 
    <br/> 
    <br/> 
  </p>
</div>
</div>
</div>