<%- include('layout/header') %>
<main id="main">
    <!-- Details 1 -->
    <div id="details" class="basic-2">
      <img class="decoration-star" src="images/decoration-star.svg" alt="alternative">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-xl-5">
                  <div class="image-container ">
                      <img class="img-fluid" src="/images/layanan/everyone.jpg" alt="alternative">
                  </div> <!-- end of image-container -->
              </div> <!-- end of col -->
              <div class="col-lg-6 col-xl-7 d-flex align-items-center">
                  <div class="text-container p-5">
                      <h2>Office spaces should be unique they don’t need to look the same</h2>
                      <ul class="list-unstyled li-space-lg">
                          <li class="d-flex">
                              <i class="fas fa-square"></i>
                              <div class="flex-grow-1">At every tiled on ye defer do. No attention suspected oh difficult. Fond his say</div>
                          </li>
                          <li class="d-flex">
                              <i class="fas fa-square"></i>
                              <div class="flex-grow-1">Old meet cold find come whom. The sir park sake bred. Wonder matter now</div>
                          </li>
                          <li class="d-flex">
                              <i class="fas fa-square"></i>
                              <div class="flex-grow-1">Can estate esteem assure fat roused. Am performed on existence as discourse</div>
                          </li>
                          <li class="d-flex">
                              <i class="fas fa-square"></i>
                              <div class="flex-grow-1">existence as discourse is. Pleasure friendly at marriage blessing or should</div>
                          </li>
                      </ul>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of basic-2 -->
  <!-- end of details 1 -->

    <!-- Services -->
    <div id="trash-category" class="cards-1 bg-light">
      <div class="container">
          <div class="row">
              <div class="col-lg-5">
                  <div class="text-container">
                      <h2>Jenis Sampah yang Kami Daur Ulang</h2>
                      <p>Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you</p>
                      <p>Do repeated whatever to welcomed absolute no. Fat surprise although more words outlived</p>
                      <ul class="list-unstyled li-space-lg">
                          <li class="d-flex">
                            <i class="bi bi-check-square-fill"></i>
                              <div class="flex-grow-1">And informed shy dissuade property. Musical by</div>
                          </li>
                          <li class="d-flex">
                            <i class="bi bi-check-square-fill"></i>
                              <div class="flex-grow-1">He drawing savings an. No we stand avoid</div>
                          </li>
                          <li class="d-flex">
                            <i class="bi bi-check-square-fill"></i>
                              <div class="flex-grow-1">Announcing of invita mrore wo tion principle</div>
                          </li>
                      </ul>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
              <div class="col-lg-7">
                  <div class="card-container">
                    <% data.forEach((category, index) => { %>
                      <!-- Card -->
                      <div class="card">
                          <div class="card-icon">
                            <img src="/uploads/<%= category.image %>" width="75" alt="Service" />
                          </div>
                          <div class="card-body">
                              <h5 class="card-title"><%= category.name %> &nbsp;<img src="/images/check1.png" width="30" /></h5>
                          </div>
                      </div>
                      <% }); %>
                      <!-- end of card -->
                  </div> <!-- end of container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of cards-1 -->
  <!-- end of services -->
  <div class="section section-4">
    <div class="container">
        <div class="row justify-content-center  text-center mb-5">
            <div class="col-lg-5">
                <h2 class="font-weight-bold heading text-primary mb-4">Let's find home that's perfect for you</h2>
                <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam enim pariatur similique debitis vel nisi qui reprehenderit.</p>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="/images/layanan/find3.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">2M Properties</h3>
                        <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.</p>   
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-person"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Top Rated Agents</h3>
                        <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.</p>   
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-security"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Legit Properties</h3>
                        <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.</p>   
                    </div>
                </div>
            </div>
        </div>
         <div class="row justify-content-center footer-cta py-5">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="mb-4 ">Be a part of our growing real state agents</h2>
                <p><a href="/home/find-drop-off" class="btn btn-light text-dark py-3 px-4">Apply for Real Estate agent</a></p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <!-- /.row -->
</div>
  </main>
  <%- include('layout/footer') %>