<%- include('layout/header') %>
<main id="main">
    <!-- Details 1 -->
    <div id="details" class="basic-2">
      <img class="decoration-star" src="images/decoration-star.svg" alt="alternative">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-xl-5">
                  <div class="image-container ">
                      <img class="img-fluid" src="/images/layanan/everyone.jpg" alt="alternative">
                  </div> <!-- end of image-container -->
              </div> <!-- end of col -->
              <div class="col-lg-6 col-xl-7 d-flex align-items-center">
                  <div class="text-container p-5">
                      <h2>Everyone</h2>
                      <p>Dengan layanan "Everyone" dari Trashycle, Anda dapat dengan mudah menemukan tempat drop off sampah terdekat dan mengelola sampah Anda secara efisien. Platform ini dirancang untuk memudahkan setiap individu dalam menjalankan praktik daur ulang, membantu mengurangi dampak negatif terhadap lingkungan, dan mendukung keberlanjutan. Dengan fitur-fitur canggihnya, Trashycle memungkinkan Anda untuk memilih tempat drop off yang sesuai dengan jenis sampah yang ingin Anda daur ulang, memberikan informasi yang jelas dan akurat tentang pengelolaan sampah, serta meningkatkan kesadaran akan pentingnya memilah sampah secara benar. Dengan demikian, Trashycle tidak hanya menjadi solusi praktis tetapi juga langkah nyata dalam mendukung gaya hidup ramah lingkungan.</p>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of basic-2 -->
  <!-- end of details 1 -->

    <!-- Services -->
    <div id="trash-category" class="cards-1 bg-light">
      <div class="container">
          <div class="row">
              <div class="col-lg-5">
                  <div class="text-container">
                      <h2>Jenis Sampah yang Kami Daur Ulang</h2>
                      <p>Kami mengadopsi pendekatan yang ramah lingkungan dan efisien dalam mengelola sampah-sampah ini, memastikan bahwa setiap jenis sampah dikelola sesuai dengan prinsip-prinsip daur ulang yang berkelanjutan. Temukan informasi lebih lanjut tentang bagaimana Trashycle membantu dalam mengurangi limbah dan meningkatkan kesadaran lingkungan melalui pengelolaan sampah yang bertanggung jawab dan inovatif.</p>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
              <div class="col-lg-7">
                  <div class="card-container">
                    <% data.forEach((category, index) => { %>
                      <!-- Card -->
                      <div class="card">
                          <div class="card-icon">
                            <img src="/uploads/<%= category.image %>" width="75" alt="Service" />
                          </div>
                          <div class="card-body">
                              <h5 class="card-title"><%= category.name %> &nbsp;<img src="/images/check1.png" width="30" /></h5>
                          </div>
                      </div>
                      <% }); %>
                      <!-- end of card -->
                  </div> <!-- end of container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of cards-1 -->
  <!-- end of services -->
  <div class="section section-4">
    <div class="container">
        <div class="row justify-content-center  text-center mb-5">
            <div class="col-lg-5">
                <h2 class="font-weight-bold heading text-primary mb-4">Temukan Drop Off Terdekat dengan Mudah!</h2>
                <p class="text-black-50">Trashycle memungkinkan Anda untuk menemukan lokasi drop off sampah terdekat dengan cepat dan praktis. Dengan informasi yang akurat dan terpercaya, kelola sampah Anda secara efisien dan dukung upaya daur ulang untuk lingkungan yang lebih bersih dan sehat.</p>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="/images/layanan/find3.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Drop Off Terdekat dengan Trashycle</h3>
                        <p class="text-black-50">Trashycle menyediakan informasi lokasi yang akurat dan terpercaya untuk membantu Anda dalam mengelola sampah dengan lebih efisien.</p>   
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-person"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Memilih Opsi Pengelolaan Sampah</h3>
                        <p class="text-black-50">Kami membantu Anda dalam memilih opsi yang sesuai untuk mengelola sampah dengan bertanggung jawab, menjaga lingkungan tetap bersih dan sehat.</p>   
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-security"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Panduan Daur Ulang yang Handal</h3>
                        <p class="text-black-50">Kami menyediakan panduan yang handal untuk mendukung praktek daur ulang Anda dan berkontribusi pada pelestarian lingkungan secara praktis.</p>   
                    </div>
                </div>
            </div>
        </div>
         <div class="row justify-content-center footer-cta py-5">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="mb-4 ">Temukan Lokasi Drop Off Terdekat</h2>
                <p><a href="/home/find-drop-off" class="btn btn-primary text-white py-3 px-4">Telusuri Lokasi Sekarang</a></p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <!-- /.row -->
</div>
  </main>
  <%- include('layout/footer') %>
