<%- include('layout/header') %>
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <h1>Welcome to Trashycle</h1>
      <h2>Solusi Daur Ulang untuk Masa Depan Lebih Hijau</h2>
      <a href="#about" class="btn-get-started scrollto">Mulai</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Info Section ======= -->
        <section id="info" class="info">
            <div class="container">
                <div class="count-box py-5">
                    <p>TOTAL WASTE PILE</p>
                    <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter my-4">13.6078 Kg/day</span>
                    <p>Since 6 March 2024</p>
                </div>                               
            </div>
        </section>
    <!-- End Info Section -->

     <!-- ======= Description Section ======= -->
     <section id="description" class="description">
        <div class="container-xxl py-5">
            <div class="container-fluid bg-icon my-5 py-6">
                <div class="container">
                    <div class="section-header text-center mx-auto mb-5">
                        <h1 class="display-5 mb-3">Daur Ulang Aku</h1>
                        <p class="fs-5 px-4">Lindungi apa yang baik Misi kami adalah mendorong agenda lautan bebas plastik dan membersihkan sampah plastik yang masuk ke lautan dan saluran air. 
                            Solusi kami berbasis komunitas, dan upaya serta dampak kami didukung oleh perusahaan-perusahaan yang bertanggung jawab di seluruh dunia yang ingin 
                            mendorong perubahan lingkungan dan memanfaatkan komitmen keberlanjutan mereka. Baik Anda ingin memulai perjalanan merek Anda untuk berbuat baik bagi 
                            planet ini atau ini merupakan langkah lain untuk berbuat lebih banyak.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End Description Section -->
<!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="pt-5 pt-md-9" id="service">

          <div class="container">
            <div class="position-absolute z-index--1 end-0 d-none d-lg-block"><img src="/images/shape.svg" style="max-width: 200px" alt="service" /></div>
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
              <h1 class="display-5 mb-3">Kategori Sampah</h1>
            </div>
            <div class="row">
              <% data.forEach((category, index) => { %>
              <div class="col-lg-3 col-sm-6 mb-6">
                <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                  <div class="card-body p-xxl-5 p-4"> <img src="/uploads/<%= category.image %>" width="75" alt="Service" />
                    <a href="kertas.html"><h4 class="mt-3"><%= category.name %></h4></a>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div><!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->

        <!-- ======= Service Section ======= -->
     <section id="service" class="service">
      <div class="container-xxl py-5">
          <div class="container-fluid bg-icon my-5 py-6">
              <div class="container">
                  <div class="section-header text-center mx-auto mb-5">
                      <h1 class="display-5 mb-3">Layanan Kami</h1>
                  </div>
                  <div class="row g-4">
                      <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                          <div class="bg-light text-center h-100 p-4 p-xl-5">
                              <img class="img-fluid mb-4" src="/images/layanan/everyone.jpg" alt="">
                              <h4 class="mb-3">For Everyone</h4>
                              <p class="mb-4">Temukan Tempat Drop Off Sampah Terdekat dan Kelola Sampah Anda dengan Mudah</p>
                              <a class="btn btn-outline-dark border-2 py-2 px-4 rounded-pill" href="/home/everyone">Cari Tahu</a>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                          <div class="bg-light text-center h-100 p-4 p-xl-5">
                              <img class="img-fluid mb-4" src="/images/layanan/bussiness.jpg" alt="">
                              <h4 class="mb-3">For Business</h4>
                              <p class="mb-4">Optimalkan Pengelolaan Sampah dengan Mendaftarkan Tempat Drop Off Anda</p>
                              <a class="btn btn-outline-dark border-2 py-2 px-4 rounded-pill" href="/home/bussiness">Cari Tahu</a>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </section>
<!-- End Description Section -->

  </main><!-- End #main -->
  <%- include('layout/footer') %>