<%- include('layout/header') %>
<!-- <section class="ftco-section">
  <div class="container py-lg-5" style="margin-top: 100px;">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Trashycle</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Sign In</h3>
          <form action="#" class="signin-form">
            <div class="form-group my-3">
              <input type="text" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group mb-3">
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group mb-3">
              <button type="submit" class="form-control btn rounded submit px-3 text-white" style="background-color: #344955;">Sign In</button>
            </div>
            <div class="form-group d-md-flex my-3">
              <div class="w-50">
                <label class="checkbox-wrap checkbox-primary text-dark">Remember Me
                  <input type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-50 text-end">
                <a href="#">Forgot Password</a>
              </div>
            </div>
          </form>
          <p class="w-100 text-center text-dark my-4">&mdash; Or Sign In With &mdash;</p>
          <div class="social d-flex text-center">
            <a href="#" class="px-2 py-2 rounded text-white"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
            <a href="#" class="px-2 py-2 rounded text-white"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Form Login Start -->
<!-- <div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="btn-close btn-close-grey" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="myform bg-light">
              <h1 class="text-center">Login Form</h1>
              <form>
                  <div class="mb-3 mt-4">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <button type="button" class="btn btn-secondary" style="border-radius: 25px; background-color: #7E3B89;"><a href="User.html">LOGIN</a></button>
                  <p>Not a member? <a href="register.html">Signup now</a></p>
              </form>
          </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Form Login End -->

<div class="app app-login p-0">    	
  <div class="g-0 app-auth-wrapper">
      <div class="text-center p-5">
          <div class="col-auto">
              <% if(messages.error) { %>
                  <div class="alert alert-danger"><%- messages.error %></div>
              <% } %>
              <% if(messages.success) { %>
                  <div class="alert alert-success"><%- messages.success %></div>
              <% } %>
          </div>
          <div class="d-flex flex-column align-content-end">
              <div class="app-auth-body mx-auto my-5">	
                  <div class="app-auth-branding mb-4"><a class="app-logo" href="index.html"><img class="me-2" src="/images/logo.png" alt="logo" width="150" height="150"></a></div>
                  <div class="auth-form-container text-start">
                      <form class="auth-form login-form" action="/admin/login" method="POST">         
                          <div class="email mb-3">
                              <label class="sr-only" for="signin-email">Email</label>
                              <input id="signin-email" name="username" type="text" class="form-control signin-email" placeholder="Username" required="required">
                          </div><!--//form-group-->
                          <div class="password mb-3">
                              <label class="sr-only" for="signin-password">Password</label>
                              <input id="signin-password" name="password" type="password" class="form-control signin-password" placeholder="Password" required="required">
                              <div class="extra mt-3 row justify-content-between">
                                  <div class="col-6">
                                      <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="RememberPassword">
                                          <label class="form-check-label" for="RememberPassword">
                                          Remember me
                                          </label>
                                      </div>
                                  </div><!--//col-6-->
                                  <div class="col-6">
                                      <div class="forgot-password text-end">
                                          <a href="reset-password.html">Forgot password?</a>
                                      </div>
                                  </div><!--//col-6-->
                              </div><!--//extra-->
                          </div><!--//form-group-->
                          <div class="text-center">
                              <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto" style="background-color: #3F5762; border-color: #3F5762;">Log In</button>
                          </div>
                      </form>
                  </div><!--//auth-form-container-->	

              </div><!--//auth-body-->
          </div><!--//flex-column-->   
      </div><!--//auth-main-col-->
</div>