<%- include('layout/header') %>

<div class="container py-5 overflow-hidden">
    <div class="section-header text-center mx-auto mb-5" data-aos="fade-right" data-aos-delay="100" style="max-width: 500px;">
        <h1 class="mb-3">Tentang Kami</h1>
    </div>
    <div class="row g-5 align-items-center" data-aos="fade-left" data-aos-delay="200">
        <div class="col-lg-6" >
            <div class="about-img position-relative overflow-hidden p-5 pe-0">
                <img class="img-fluid w-100 rounded" src="../images/about/4.jpg">
            </div>
        </div>
        <div class="col-lg-6">
            <p class="mb-4">Bank Sampah Anggrek berdiri untuk menciptakan lingkungan bersih, asri, dan lestari melalui pengelolaan sampah yang berbasis komunitas, inovatif, dan edukatif. Misi kami adalah memberdayakan masyarakat dalam mengolah sampah menjadi produk bernilai guna sekaligus mendorong kesadaran akan pentingnya menjaga lingkungan. Dengan dukungan dari individu, lembaga, dan perusahaan yang peduli terhadap keberlanjutan, kami berkomitmen menjadi mitra dalam menciptakan perubahan positif. Bersama, mari wujudkan masa depan yang lebih hijau untuk generasi mendatang.
            </p>
        </div>
    </div>
</div>

<!-- About Start -->
<div class="container-xxl py-5 overflow-hidden" id="about">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow" data-aos="fade-right" data-aos-delay="100">
                <div class="d-flex align-items-center mb-5">
                    <div class="years flex-shrink-0 text-center me-4">
                        <h1 class="display-1 mb-0">10</h1>
                        <!-- <h5 class="mb-0">Years</h5> -->
                    </div>
                    <h3 class="lh-base mb-0">Program kerja Bank Sampah Anggrek</h3>
                </div>
                <p class="mb-3"><i class="bi bi-1-circle text-secondary me-3"></i>Menciptakan Lingkungan Bersih, Asri, Lestari.</p>
                <p class="mb-3"><i class="bi bi-2-circle text-secondary me-3"></i>Mensukseskan Program Gempita 1 RW 1 Bank Sampah.</p>
                <p class="mb-3"><i class="bi bi-3-circle text-secondary me-3"></i>Peningkatan jumlah nasabah & Tonase</p>
                <p class="mb-3"><i class="bi bi-4-circle text-secondary me-3"></i>Mendayagunakan sampah Organik & An organik.</p>
                <p class="mb-3"><i class="bi bi-5-circle text-secondary me-3"></i>Mengembangkan lnovasi & Kreatifitas</p>
                <p class="mb-3"><i class="bi bi-6-circle text-secondary me-3"></i>Menciptakan lapangan pekerjaan & peningkatan income keluarga (ketrampilan)</p>
                <p class="mb-3"><i class="bi bi-7-circle text-secondary me-3"></i>Mengembangkan sosialisasi & pelatihan</p>
                <p class="mb-3"><i class="bi bi-8-circle text-secondary me-3"></i>Publikasi kegiatan d Medsos</p>
                <p class="mb-3"><i class="bi bi-9-circle text-secondary me-3"></i>Peran serta di even kegiatan ( Bazar, lomba, karnaval/lainya)</p>
                <p class="mb-3"><i class="bi bi-1-circle bi bi-0-circle text-secondary me-3"></i>Mandiri & berprestasi</p>
                
            </div>
            <div class="col-lg-6 wow overflow-hidden" data-aos="fade-down" data-aos-delay="200">
                <div class="row g-3 mb-4">
                    <div class="col-sm-6">
                        <img class="img-fluid rounded" src="../images/about/1.jpg" alt="">
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid rounded" src="../images/about/2.jpg" alt="">
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid rounded" src="../images/about/3.jpg" alt="">
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid rounded" src="../images/about/5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div class="py-5 w-100 overflow-hidden" id="services">
    <div class="container">
      <div class="row d-flex justify-content-end">
        <div class="col-lg-8" data-aos="fade-down">
          <h2 class="display-6">Mengapa Kami Berbeda?</h2>
        </div>
      </div>
      <div class="row d-flex align-items-center py-5">
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <span class="h5 fw-lighter">01.</span>
          <h3 class="py-5 border-top border-dark">Komunitas yang Terkoneksi.</h3>
          <p>Kami percaya bahwa kekuatan komunitas adalah kunci untuk menciptakan perubahan yang berkelanjutan. 
            Bank Sampah Anggrek berkolaborasi dengan masyarakat, lembaga, dan perusahaan untuk bersama-sama menghadapi tantangan lingkungan. 
            Dengan kantor pusat yang mungkin sederhana, namun penuh semangat dan dedikasi, 
            kami menjadi wadah bagi semua pihak untuk bersatu. Mulai dari program pengelolaan sampah berbasis komunitas hingga kolaborasi dengan mitra strategis, 
            kami membangun jejaring yang kuat untuk menciptakan dampak yang nyata bagi lingkungan dan masa depan.</p>
        </div>

        <div class="col-md-6 col-lg-4 py-vh-4 pb-0" data-aos="fade-up" data-aos-delay="400">
          <span class="h5 fw-lighter">02.</span>
          <h3 class="py-5 border-top border-dark">Inovasi yang Berkelanjutan.</h3>
          <p>Inovasi adalah inti dari upaya kami. Bank Sampah Anggrek tidak hanya sekadar mengelola sampah, 
            tetapi juga menciptakan solusi kreatif untuk mengubah limbah menjadi produk bernilai tinggi. Kami terus mencari cara baru untuk mendayagunakan sampah organik dan anorganik, 
            mengembangkan kerajinan dari bahan daur ulang, dan mendukung kreativitas masyarakat lokal. Dengan berfokus pada keberlanjutan, 
            kami memastikan bahwa langkah-langkah kami tidak hanya memberikan manfaat saat ini tetapi juga melindungi lingkungan bagi generasi mendatang.</p>
          
        </div>

        <div class="col-md-6 col-lg-4 py-vh-6 pb-0" data-aos="fade-up" data-aos-delay="600">
          <span class="h5 fw-lighter">03.</span>
          <h3 class="py-5 border-top border-dark">Edukasi dan Kesadaran Lingkungan.</h3>
          <p>Kami percaya bahwa edukasi adalah langkah awal menuju perubahan besar. Oleh karena itu, Bank Sampah Anggrek tidak hanya berfokus pada pengelolaan sampah, 
            tetapi juga memberdayakan masyarakat melalui pelatihan, sosialisasi, dan program edukasi. Kami mengajarkan cara memanfaatkan sampah sebagai peluang, 
            mulai dari mendaur ulang hingga menciptakan produk yang memiliki nilai jual. Selain itu, kami menginspirasi masyarakat untuk lebih peduli terhadap lingkungan dan menjadi bagian dari solusi. </p>
        </div>
      </div>

    </div>
  </div>

  <div class="py-5 bg-gray-100 w-100 overflow-hidden" id="aboutus">
    <div class="container">

      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-lg-6">
          <div class="row gx-5 d-flex">
            <div class="col-md-11">
              <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end" data-aos="fade-right"
                style="background-image: url(../images/about/1b.jpg);--bs-aspect-ratio: 50%;">
              </div>
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up"
                style="background-image: url(../images/about/5.jpg);">
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-left"
                style="background-image: url('../images/hero-bg4.jpg');--bs-aspect-ratio: 150%;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h3 class="py-5 border-top border-dark" data-aos="fade-left">Inovasi, edukasi, dan dedikasi untuk lingkungan yang lebih baik</h3>
          <p data-aos="fade-left" data-aos-delay="200">Kami berpartisipasi dalam berbagai kegiatan, seperti lomba daur ulang tingkat Jawa Timur, di mana kami berhasil masuk 10 besar. Kami juga memproduksi kerajinan unik dari sampah anorganik, seperti botol plastik dan kardus, yang telah memenangkan berbagai penghargaan. Selain itu, kami menjadi pusat edukasi untuk masyarakat dalam pengelolaan sampah kreatif.</p>
        </div>
      </div>

    </div>
  </div>

<%- include('layout/footer') %>  