<%- include('layout/header') %>
<div class="app app-register p-0">
    <div class="g-0 app-auth-wrapper">
      <div class="text-center ">
        <div class="flex-column">
          <div class="app-auth-body mx-auto ">
            <div class="col-auto">
            <div class="app-auth-branding mb-2">
              <a class="app-logo" href="index.html">
                <img class="me-2" src="/images/logo.png" alt="logo" width="150" height="150">
              </a>
            </div>
            <div class="col-auto">
              <% if (messages.error) { %>
                <div class="alert alert-danger bubble-notification"><%= messages.error %></div>
              <% } %>
              <% if (messages.success) { %>
                <div class="alert alert-success bubble-notification"><%= messages.success %></div>
              <% } %>
            </div>
            <div class="auth-form-container text-start">
                <form class="auth-form register-form" action="/home/register" method="POST">
                    <div class="mb-3">
                      <label for="nama_lengkap">Nama Lengkap</label>
                      <input id="nama_lengkap" name="nama_lengkap" type="text" class="form-control" required="required">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Gender</label>
                      <div class="d-flex gap-3">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gender" id="genderMale" value="L" required>
                          <label class="form-check-label" for="genderMale">Laki-Laki</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="P" required>
                          <label class="form-check-label" for="genderFemale">Perempuan</label>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="username">Username</label>
                      <input id="username" name="username" type="text" class="form-control" required="required">
                    </div>
                    <div class="mb-3">
                      <label for="password">Password</label>
                      <input id="password" name="password" type="password" class="form-control" required="required">
                    </div>
                    <div class="mb-3">
                      <label for="alamat">Alamat</label>
                      <textarea id="alamat" name="alamat" class="form-control" required="required"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="no_telepon">No Telepon</label>
                      <input id="no_telepon" name="no_telepon" type="text" class="form-control" required="required">
                    </div>
                    <div class="mb-3">
                      <label for="rt_rw">RT/RW</label>
                      <input id="rt_rw" name="rt_rw" type="text" class="form-control" required="required">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  